In [2]:
import numpy as np
import pandas as pd

In [3]:

pokemons={
    "pokemon_height": np.random.randint(1,100,10),
    "pokemon_weight": np.random.randint(1,500,10),
    "pokemon_power": np.random.randint(1,400,10)
}

In [4]:
pokemons

{'pokemon_height': array([22, 67, 34, 30, 85, 42, 72,  8, 19, 72]),
 'pokemon_weight': array([257, 225, 371,  82, 146,  17,  12, 146, 125, 272]),
 'pokemon_power': array([ 92, 193, 378, 211, 293, 213, 211, 308,  10, 343])}

In [5]:
df=pd.DataFrame(pokemons)

KeyError: 'pokemon_heightpokemon_weight'

In [15]:
df.columns

Index(['pokemon_height', 'pokemon_weight', 'pokemon_power'], dtype='object')

In [16]:
df.to_csv('pokemon_data.csv',index=False)

In [17]:
df=pd.read_csv('pokemon_data.csv')

In [18]:
df.head()

   pokemon_height  pokemon_weight  pokemon_power
0              18              59            246
1              26               7              3
2               1             329             27
3              94              88            119
4              22             172            298

In [16]:
p={
    'gender':np.array(['male','female','male','male','female'])
}
df=pd.DataFrame(p)

In [17]:
df.head()

   gender
0    male
1  female
2    male
3    male
4  female

In [18]:
a={'male':0,'female':1}

In [21]:
df['gender']=df['gender'].map(a)

In [22]:
df.head()

   gender
0       0
1       1
2       0
3       0
4       1