In [8]:
import numpy as np
import pandas as pd

In [9]:

pokemons={
    "pokemon_height": np.random.randint(1,100,10),
    "pokemon_weight": np.random.randint(1,500,10),
    "pokemon_power": np.random.randint(1,400,10)
}

In [11]:
pokemons

{'pokemon_height': array([18, 26,  1, 94, 22, 21,  7, 10, 21, 75]),
 'pokemon_weight': array([ 59,   7, 329,  88, 172,  33, 473, 408, 192, 349]),
 'pokemon_power': array([246,   3,  27, 119, 298, 112, 354, 162, 327,  20])}

In [12]:
df=pd.DataFrame(pokemons)

In [14]:
df.head(n=10)

   pokemon_height  pokemon_weight  pokemon_power
0              18              59            246
1              26               7              3
2               1             329             27
3              94              88            119
4              22             172            298
5              21              33            112
6               7             473            354
7              10             408            162
8              21             192            327
9              75             349             20

In [15]:
df.columns

Index(['pokemon_height', 'pokemon_weight', 'pokemon_power'], dtype='object')

In [16]:
df.to_csv('pokemon_data.csv',index=False)

In [17]:
df=pd.read_csv('pokemon_data.csv')

In [18]:
df.head()

   pokemon_height  pokemon_weight  pokemon_power
0              18              59            246
1              26               7              3
2               1             329             27
3              94              88            119
4              22             172            298